<!doctype html>
<html {{fn('language_attributes') }}>
    {% include 'layouts/head.twig' %}
    <body class="{{ body_class|e('html_attr') }}">
        {% include 'layouts/header.twig' %}

        {% block content %}

        {% endblock %}
        
        {% include 'layouts/footer.twig' %}

        {{ function('wp_footer') }}
        {% block scripts %}

        {% endblock %}
    </body>
</html>