<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>{{ site.name }}</title>
        {{ function('wp_head') }}
    </head>

    <body>
        {% block content %}
        {% endblock %}

        {{ function('wp_footer') }}
    </body>

</html>
