{% include 'layouts/header.twig' %}

    <body>
        {% block content %}

        {% endblock %}
    </body>


{% include 'layouts/footer.twig' %}

{% block scripts %}

{% endblock %}

{{ function('wp_footer') }}