<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Spindogs Baseline v3</title>
        {{ function('wp_head') }}
    </head>

    <body>
        {% block content %}
        {% endblock %}
        
        {{ function('wp_footer') }}
    </body>

</html>
