<div class="wrap">
    <div id="custom_dashboard_widget" class="postbox ">
        <button type="button" class="handlediv" aria-expanded="true"><span class="screen-reader-text">Toggle panel: Dashboard</span><span class="toggle-indicator" aria-hidden="true"></span></button><h2 class="hndle ui-sortable-handle"><span>Dashboard</span></h2>
        <div class="inside">
            <link rel="stylesheet" type="text/css" href="https://www.polypouch.co.uk/wp-content/themes/v1/css/dashboard.css"><div class="main_bashboard_widget_button">
                <a href="?page=sd-theme-header">
                    <i class="fa fa-archive"></i>
                    <h3>Header Settings</h3>
                </a>
            </div><div class="main_bashboard_widget_button">
                <a href="?page=sd-theme-footer">
                    <i class="fa fa-folder-open"></i>
                    <h3>Footer Settings</h3>
                </a>
            </div><div class="main_bashboard_widget_button">
                <a href="?page=sd-theme-redirects">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3>Redirects</h3>
                </a>
            </div><div class="main_bashboard_widget_button">
                <a href="?page=sd-theme-seo">
                    <i class="fa fa-cog"></i>
                    <h3>SEO Settings</h3>
                </a>
            </div>
        </div>
    </div>
</div>