<div class="wrap">
    <h1>Theme Header Settings</h1>

    <form method="post" action="" novalidate="novalidate">
        <table class="form-table">

            <tbody>
            <tr>
                <th scope="row"><label for="closing_head_content">Head Content</label></th>
                <td>
                    <textarea id="closing_head_content" name="closing_head_content" class="regular-text" placeholder="Message">{{ closing_head_content }}</textarea><br>
                    <p class="description" id="tagline-description">Code that appears before closing head tag.</p>
                </td>
            </tr>

            <tr>
                <th scope="row"><label for="opening_body_content">Body Content</label></th>
                <td>
                    <textarea id="opening_body_content" name="opening_body_content" class="regular-text" placeholder="Message">{{ opening_body_content }}</textarea><br>
                    <p class="description" id="tagline-description">Code that appears after opening body tag.</p>
                </td>
            </tr>

            <tr>
                <th scope="row"><label for="opening_body_content">Site Lang</label></th>
                <td>
                    <input id="header_site_language" name="header_site_language"  class="regular-text" placeholder="Site Lang" value="{{ header_site_language }}"><br>
                    <p class="description" id="tagline-description">Lang that appears in html lang="en" at top of header></p>
                </td>
            </tr>

            </tbody>
        </table>

        <p class="submit"><input type="submit" name="submit" id="submit" class="button button-primary" value="Save Changes"></p></form>

</div>